.bundle/
log/*.log
pkg/
spec/dummy/config/trello.yml
spec/dummy/db/*.sqlite3
spec/dummy/db/*.db
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache

Gemfile.lock
spec/vcr/
spec/support/*.rdb
.env
