Enter your API credentials for your Trello account:
<form method='post' action='/members'>
  <%= csrf_tag %>
  <table>
    <tr>
      <td><label for='member_name'>Member Name</label></td>
      <td><input id='member_name' type='text' name='member[name]'></td>
    </tr>
    <tr>
      <td><label for='member_trello_user_key'>Trello API Key</label></td>
      <td><input id='member_trello_user_key' type='text' name='member[trello_user_key]'></td>
    </tr>
    <tr>
      <td><label for='member_trello_user_secret'>Trello API Secret</label></td>
      <td><input id='member_trello_user_secret' type='text' name='member[trello_user_secret]'></td>
    </tr>
    <tr>
      <td><label for='member_trello_app_token'>Trello API App Token</label></td>
      <td><input id='member_trello_app_token' type='text' name='member[trello_app_token]'></td>
    </tr>
    <tr>
      <td></td>
      <td><input type='submit' value='Enter'></td>
    </tr>
  </table>
</form>
