<script data-template-name='application' type="text/x-handlebars">
  <div id="sidebar">
    <header><h2>Feel the burn</h2></header>
    {{outlet sidebar}}
  </div>
  <div id="content">
    <header>Projects</header>
    {{outlet}}
  </div>
</script>
<script data-template-name='sidebar' type="text/x-handlebars">
  list
  <ul>
    {{#each project in controller }}
      <li><a {{ action showProject context="project" href=true }}>{{ project.name }}</a></li>
    {{/each}}
  </ul>
</script>

<script data-template-name='projects' type="text/x-handlebars">
  {{#each project in controller }}
    <section>
      <header>{{ project.name }}</header>
      <p>{{ project.id }}</p>
    </section>
  {{/each}}
</script>

<script data-template-name='project' type="text/x-handlebars">
  <section>
    <header>{{ project.name }}</header>
    <p>{{ project.id }}</p>
  </section>
</script>
