<header>
  <h4><%= current_project.name %></h4>
</header>
<div id="project_<%= current_project.id %>"></div>
<div>
  <a href="<%= u "projects", current_project.id, "edit" %>">Edit</a>
</div>
<script type="text/javascript">
  $(function(){
    Afterburn.render(<%= current_project.to_json %>);
  });
</script>
