<div id="sidebar">
  <ul class="projects">
    <% current_projects.each do |project| %>
      <li class="project_<%= project.id %>"><a href="<%= u "projects", project.id %>"><%= project.name %></a></li>
    <% end %>
  </ul>
</div>

