<!DOCTYPE html>
<html>
<head>
  <title>Afterburn</title>
  <%= stylesheet_link_tag    "afterburn/application", :media => "all" %>
  <%= javascript_include_tag "afterburn/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
